# Environnements virtuels
venv/
.venv/
env/
.venvquiz/
venvquiz/
.env

# Caches Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configs locales
*.DS_Store
*.vscode/
*.idea/

# Bases locales
data/users.db
data/*.sqlite

# Fichiers de sortie
output/

# Logs
*.log

# Sauvegardes temporaires
*.bak
*.swp
*.tmp

# Node.js
node_modules/
dist/
